<p style="text-align: center; background-color: #323232; color: white">
  <a href="https://austinatchley1.github.io/Data-Science-Team-Project/" style="color: white">Home</a> | 
  <a href="https://austinatchley1.github.io/Data-Science-Team-Project/Data-Cleaning.html" style="color: white">Data Cleaning</a> |
  <a href="https://austinatchley1.github.io/Data-Science-Team-Project/Visualization/K-NN.md" style="color: white">K-NN</a> |
  <a href="https://austinatchley1.github.io/Data-Science-Team-Project/Visualization/Code/KMeans.md" style="color: white">K Means</a> |
  <a href="https://austinatchley1.github.io/Data-Science-Team-Project/Visualization/Code/LogisticRegression.md" style="color: white">Logistic Regression</a>
</p>
